.footer {
  width: 100%;
  padding: 10px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: black;
  background-image: linear-gradient(to bottom right, #ffffff, #848b94);
}
